In [17]:
import pandas as pd
import requests

In [18]:
#api address 
url = "https://www.balldontlie.io/api/v1/players"

In [19]:
#pulls in datat from API
r = requests.get(url)

In [20]:
#extracts data from requests as json file
data = r.json()

In [5]:
#json file
data

{'data': [{'id': 14,
   'first_name': 'Ike',
   'height_feet': None,
   'height_inches': None,
   'last_name': 'Anigbogu',
   'position': 'C',
   'team': {'id': 12,
    'abbreviation': 'IND',
    'city': 'Indiana',
    'conference': 'East',
    'division': 'Central',
    'full_name': 'Indiana Pacers',
    'name': 'Pacers'},
   'weight_pounds': None},
  {'id': 25,
   'first_name': 'Ron',
   'height_feet': None,
   'height_inches': None,
   'last_name': 'Baker',
   'position': 'G',
   'team': {'id': 20,
    'abbreviation': 'NYK',
    'city': 'New York',
    'conference': 'East',
    'division': 'Atlantic',
    'full_name': 'New York Knicks',
    'name': 'Knicks'},
   'weight_pounds': None},
  {'id': 47,
   'first_name': 'Jabari',
   'height_feet': None,
   'height_inches': None,
   'last_name': 'Bird',
   'position': 'G',
   'team': {'id': 2,
    'abbreviation': 'BOS',
    'city': 'Boston',
    'conference': 'East',
    'division': 'Atlantic',
    'full_name': 'Boston Celtics',
    'name': 'Celtics'},
   'weight_pounds': None},
  {'id': 67,
   'first_name': 'MarShon',
   'height_feet': None,
   'height_inches': None,
   'last_name': 'Brooks',
   'position': 'G',
   'team': {'id': 15,
    'abbreviation': 'MEM',
    'city': 'Memphis',
    'conference': 'West',
    'division': 'Southwest',
    'full_name': 'Memphis Grizzlies',
    'name': 'Grizzlies'},
   'weight_pounds': None},
  {'id': 71,
   'first_name': 'Lorenzo',
   'height_feet': None,
   'height_inches': None,
   'last_name': 'Brown',
   'position': 'G',
   'team': {'id': 28,
    'abbreviation': 'TOR',
    'city': 'Toronto',
    'conference': 'East',
    'division': 'Atlantic',
    'full_name': 'Toronto Raptors',
    'name': 'Raptors'},
   'weight_pounds': None},
  {'id': 90,
   'first_name': 'Omri',
   'height_feet': None,
   'height_inches': None,
   'last_name': 'Casspi',
   'position': 'F',
   'team': {'id': 15,
    'abbreviation': 'MEM',
    'city': 'Memphis',
    'conference': 'West',
    'division': 'Southwest',
    'full_name': 'Memphis Grizzlies',
    'name': 'Grizzlies'},
   'weight_pounds': None},
  {'id': 1,
   'first_name': 'Alex',
   'height_feet': 6,
   'height_inches': 6,
   'last_name': 'Abrines',
   'position': 'G',
   'team': {'id': 21,
    'abbreviation': 'OKC',
    'city': 'Oklahoma City',
    'conference': 'West',
    'division': 'Northwest',
    'full_name': 'Oklahoma City Thunder',
    'name': 'Thunder'},
   'weight_pounds': 200},
  {'id': 119,
   'first_name': 'Tyler',
   'height_feet': None,
   'height_inches': None,
   'last_name': 'Davis',
   'position': 'C',
   'team': {'id': 21,
    'abbreviation': 'OKC',
    'city': 'Oklahoma City',
    'conference': 'West',
    'division': 'Northwest',
    'full_name': 'Oklahoma City Thunder',
    'name': 'Thunder'},
   'weight_pounds': None},
  {'id': 149,
   'first_name': 'Keenan',
   'height_feet': None,
   'height_inches': None,
   'last_name': 'Evans',
   'position': 'G',
   'team': {'id': 9,
    'abbreviation': 'DET',
    'city': 'Detroit',
    'conference': 'East',
    'division': 'Central',
    'full_name': 'Detroit Pistons',
    'name': 'Pistons'},
   'weight_pounds': None},
  {'id': 179,
   'first_name': 'Marcin',
   'height_feet': None,
   'height_inches': None,
   'last_name': 'Gortat',
   'position': 'C',
   'team': {'id': 13,
    'abbreviation': 'LAC',
    'city': 'LA',
    'conference': 'West',
    'division': 'Pacific',
    'full_name': 'LA Clippers',
    'name': 'Clippers'},
   'weight_pounds': None},
  {'id': 1593,
   'first_name': 'Andrew',
   'height_feet': None,
   'height_inches': None,
   'last_name': 'Bogut',
   'position': 'F',
   'team': {'id': 10,
    'abbreviation': 'GSW',
    'city': 'Golden State',
    'conference': 'West',
    'division': 'Pacific',
    'full_name': 'Golden State Warriors',
    'name': 'Warriors'},
   'weight_pounds': None},
  {'id': 241,
   'first_name': 'Amir',
   'height_feet': 6,
   'height_inches': 9,
   'last_name': 'Johnson',
   'position': 'C-F',
   'team': {'id': 23,
    'abbreviation': 'PHI',
    'city': 'Philadelphia',
    'conference': 'East',
    'division': 'Atlantic',
    'full_name': 'Philadelphia 76ers',
    'name': '76ers'},
   'weight_pounds': 240},
  {'id': 392,
   'first_name': 'Malachi',
   'height_feet': None,
   'height_inches': None,
   'last_name': 'Richardson',
   'position': 'G',
   'team': {'id': 29,
    'abbreviation': 'UTA',
    'city': 'Utah',
    'conference': 'West',
    'division': 'Northwest',
    'full_name': 'Utah Jazz',
    'name': 'Jazz'},
   'weight_pounds': None},
  {'id': 281,
   'first_name': 'Zach',
   'height_feet': None,
   'height_inches': None,
   'last_name': 'Lofton',
   'position': 'G',
   'team': {'id': 9,
    'abbreviation': 'DET',
    'city': 'Detroit',
    'conference': 'East',
    'division': 'Central',
    'full_name': 'Detroit Pistons',
    'name': 'Pistons'},
   'weight_pounds': None},
  {'id': 263,
   'first_name': 'Kosta',
   'height_feet': 7,
   'height_inches': 0,
   'last_name': 'Koufos',
   'position': 'C',
   'team': {'id': 26,
    'abbreviation': 'SAC',
    'city': 'Sacramento',
    'conference': 'West',
    'division': 'Pacific',
    'full_name': 'Sacramento Kings',
    'name': 'Kings'},
   'weight_pounds': 245},
  {'id': 382,
   'first_name': 'Billy',
   'height_feet': None,
   'height_inches': None,
   'last_name': 'Preston',
   'position': 'F',
   'team': {'id': 6,
    'abbreviation': 'CLE',
    'city': 'Cleveland',
    'conference': 'East',
    'division': 'Central',
    'full_name': 'Cleveland Cavaliers',
    'name': 'Cavaliers'},
   'weight_pounds': None},
  {'id': 384,
   'first_name': 'Zhou',
   'height_feet': None,
   'height_inches': None,
   'last_name': 'Qi',
   'position': 'F-C',
   'team': {'id': 11,
    'abbreviation': 'HOU',
    'city': 'Houston',
    'conference': 'West',
    'division': 'Southwest',
    'full_name': 'Houston Rockets',
    'name': 'Rockets'},
   'weight_pounds': None},
  {'id': 388,
   'first_name': 'Zach',
   'height_feet': None,
   'height_inches': None,
   'last_name': 'Randolph',
   'position': 'F',
   'team': {'id': 26,
    'abbreviation': 'SAC',
    'city': 'Sacramento',
    'conference': 'West',
    'division': 'Pacific',
    'full_name': 'Sacramento Kings',
    'name': 'Kings'},
   'weight_pounds': None},
  {'id': 430,
   'first_name': 'DJ',
   'height_feet': None,
   'height_inches': None,
   'last_name': 'Stephens',
   'position': 'G-F',
   'team': {'id': 15,
    'abbreviation': 'MEM',
    'city': 'Memphis',
    'conference': 'West',
    'division': 'Southwest',
    'full_name': 'Memphis Grizzlies',
    'name': 'Grizzlies'},
   'weight_pounds': None},
  {'id': 437,
   'first_name': 'Milos',
   'height_feet': None,
   'height_inches': None,
   'last_name': 'Teodosic',
   'position': 'G',
   'team': {'id': 13,
    'abbreviation': 'LAC',
    'city': 'LA',
    'conference': 'West',
    'division': 'Pacific',
    'full_name': 'LA Clippers',
    'name': 'Clippers'},
   'weight_pounds': None},
  {'id': 448,
   'first_name': 'Gary',
   'height_feet': None,
   'height_inches': None,
   'last_name': 'Trent Jr.',
   'position': 'G',
   'team': {'id': 25,
    'abbreviation': 'POR',
    'city': 'Portland',
    'conference': 'West',
    'division': 'Northwest',
    'full_name': 'Portland Trail Blazers',
    'name': 'Trail Blazers'},
   'weight_pounds': None},
  {'id': 494,
   'first_name': 'Michael',
   'height_feet': None,
   'height_inches': None,
   'last_name': 'Smith',
   'position': '',
   'team': {'id': 2,
    'abbreviation': 'BOS',
    'city': 'Boston',
    'conference': 'East',
    'division': 'Atlantic',
    'full_name': 'Boston Celtics',
    'name': 'Celtics'},
   'weight_pounds': None},
  {'id': 495,
   'first_name': 'John',
   'height_feet': None,
   'height_inches': None,
   'last_name': 'Morton',
   'position': '',
   'team': {'id': 6,
    'abbreviation': 'CLE',
    'city': 'Cleveland',
    'conference': 'East',
    'division': 'Central',
    'full_name': 'Cleveland Cavaliers',
    'name': 'Cavaliers'},
   'weight_pounds': None},
  {'id': 496,
   'first_name': 'Howard',
   'height_feet': None,
   'height_inches': None,
   'last_name': 'Wright',
   'position': '',
   'team': {'id': 1,
    'abbreviation': 'ATL',
    'city': 'Atlanta',
    'conference': 'East',
    'division': 'Southeast',
    'full_name': 'Atlanta Hawks',
    'name': 'Hawks'},
   'weight_pounds': None},
  {'id': 497,
   'first_name': 'Michael',
   'height_feet': None,
   'height_inches': None,
   'last_name': 'Ansley',
   'position': '',
   'team': {'id': 22,
    'abbreviation': 'ORL',
    'city': 'Orlando',
    'conference': 'East',
    'division': 'Southeast',
    'full_name': 'Orlando Magic',
    'name': 'Magic'},
   'weight_pounds': None}],
 'meta': {'total_pages': 151,
  'current_page': 1,
  'next_page': 2,
  'per_page': 25,
  'total_count': 3757}}

In [6]:
#shows keys of json file 
data.keys()

dict_keys(['data', 'meta'])

In [7]:
#check to see the type of each key - look for list
type(data['data'])

list

In [8]:
#check to what the list is made of - look for list dict
type(data['data'][0])

dict

In [9]:
#creates dataframe of json file over specific key
df=pd.DataFrame(data['data'])

In [10]:
#select and print the first 4 rows
df.head(4)

,id,first_name,height_feet,height_inches,last_name,position,team,weight_pounds
0,14,Ike,NaN,NaN,Anigbogu,C,"{'id': 12, 'abbreviation': 'IND', 'city': 'Ind...",NaN
1,25,Ron,NaN,NaN,Baker,G,"{'id': 20, 'abbreviation': 'NYK', 'city': 'New...",NaN
2,47,Jabari,NaN,NaN,Bird,G,"{'id': 2, 'abbreviation': 'BOS', 'city': 'Bost...",NaN
3,67,MarShon,NaN,NaN,Brooks,G,"{'id': 15, 'abbreviation': 'MEM', 'city': 'Mem...",NaN

In [11]:
#select and print the 2nd and 3rd row
df.iloc[2:4]

,id,first_name,height_feet,height_inches,last_name,position,team,weight_pounds
2,47,Jabari,NaN,NaN,Bird,G,"{'id': 2, 'abbreviation': 'BOS', 'city': 'Bost...",NaN
3,67,MarShon,NaN,NaN,Brooks,G,"{'id': 15, 'abbreviation': 'MEM', 'city': 'Mem...",NaN

In [12]:
df.shape

(25, 8)

In [13]:
#find and print descriptive stats
#calculates mean of weight
avg_weight = df['weight_pounds'].mean()
print(avg_weight)

228.33333333333334

In [14]:
#find and print descriptive stats
#calculates median of _id (only int column)
med_weight = df['weight_pounds'].median()
print(med_weight)

240.0

In [15]:
#write a query
#shows value with first name Jabari
value = 'Jabari'
df.query('first_name == @value')

,id,first_name,height_feet,height_inches,last_name,position,team,weight_pounds
2,47,Jabari,NaN,NaN,Bird,G,"{'id': 2, 'abbreviation': 'BOS', 'city': 'Bost...",NaN

In [16]:
#write a query
#shows rows with weights greater than the avg weight
df.query('weight_pounds > @avg_weight')

,id,first_name,height_feet,height_inches,last_name,position,team,weight_pounds
11,241,Amir,6.0,9.0,Johnson,C-F,"{'id': 23, 'abbreviation': 'PHI', 'city': 'Phi...",240.0
14,263,Kosta,7.0,0.0,Koufos,C,"{'id': 26, 'abbreviation': 'SAC', 'city': 'Sac...",245.0